.listaItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#qtd {
    color: red;
}

#preco {
    color: green;
}

.moreLess {
    width: 25px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 7px;
    transition: all ease-in-out .3s;
}

.moreLess:hover {
    box-shadow: 0px 0px 7px #00000054;
}

#itemListaNome {
    margin-left: 5px;
}

#itemListaTotal {
    margin-left: 5px;
    margin-bottom: 2px;
}