small {
    font-size: .6em;
    margin-top: 18px;
    color: rgb(192, 42, 42);
    font-weight: bolder;
    width: 15px;
}

.modalCarrinho {
    width: 360px !important;
    transition: all ease-in-out .3s !important;
    border-radius: 3px;
    box-shadow: 0px 0px 7px #8cbae893;
}

@media(max-width: 475px) {
    .modalCarrinho {
        top: 50px !important;
    }
}

@media(max-width: 414px) {
    .modalCarrinho {
        width: 260px !important;
        left: -220px !important;
    }
}

@media(max-width: 302px) {
    .modalCarrinho {
        width: 240px !important;
        left: -200px !important;
    }
}

@media(max-width: 284px) {
    .modalCarrinho {
        width: 220px !important;
        left: -185px !important;
    }
    .listaItems div:nth-child(1) {
        margin-left: auto;
    }
}